<!DOCTYPE html>
<html lang="en">
<head>
    <title>짭 북토끼라네~</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>

    <script>
        function selectContent(novelName, contentName) {
            location.href = `view?novelName=${novelName}&contentName=${contentName}`;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/" target="_self">HOME</a>
    	<ul class="navbar-nav mr-auto">
    		<li class="nav-item">
        		<a class="nav-link" href="/" target="_self">함함</a>
    		</li>
    	</ul>
	</nav>
    <br>
	<br>
    <div class="container p-3 my-3 bg-dark text-white">
		<h4><%= novelName %></h4>
        <h5><%= `${contentOrder}/${count} | ${contentName}` %></h5>
		<ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <% for(let i= 0; i<contents.length; i++) { %>
                    <p><%=contents[i]%></p>
                <% } %>
            </li>
		</ul>
        <h5><%= `${contentOrder}/${count} | ${contentName}` %></h5>
	</div>
</body>
</html>